.footer {
    margin-top: 10vh;
    background-color: var(--darker);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer div {
    padding: 1vh 0;
}

.footer-image img {
    margin-top: 10vh;
    max-width: 25vw;
}

.footer-title {
    color: var(--white);
    font-size: 1.25rem;
}

.footer-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: 1.1rem;
}

.footer-navigation a {
    margin: 0 1vw;
}

.footer-subtitle {
    color: var(--light);
}

.footer a {
    color: var(--light);
}