.navbar {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;

    padding: 1.5vh 0 0 0;
    width: 100%;
    height: 6vh;
    max-height: 45px;
    min-height: 30px;
    background: var(--white);
    box-shadow:0 2px 5px rgb(0, 0, 0, 0.1);
}

.nav-links {
    width: calc(100% - 5vw);
    display: grid;
    grid-template-columns: 10vw auto 10vw;
    list-style: none;
    overflow: hidden;
}

.nav-links a {
    height: 100%;
    padding-top: 0.75rem;

    display: inline-block;

    text-align: center;
    font-size: min(1.2rem, 2vh);
    line-height: 100%;
    text-decoration: none;
    color: var(--darker);
    font-weight: 600;
    transition: 0.3s;
}

.nav-links a:hover {
    color: var(--primary);
}

.nav-links div:has(> a) {
    height: 96%;
    width: 100%;
    text-align: center;
}
.nav-links div:has(> a.active) {;
    border-bottom: 2px solid var(--primary);
}

.nav-links a.active {
    color: var(--primary)
}

.protocol-links {
    margin: 0 auto;
    width: 70%;
}
.protocol-links .nav-links {
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
}

.language-toggle {
    width: 5vw;
    height: 100%;
    padding-top: 0.75rem;

    display: inline-block;

    text-align: center;
    font-size: min(1.2rem, 2vh);
    line-height: 100%;
    text-decoration: none;
    color: var(--darker);
    font-weight: 600;
    transition: 0.3s;
}

.language-toggle img {
    max-width: 5vw;
    max-height: 3vh;
    object-fit: contain;
}

.dropdown-menu {
    width: 10vw;
    padding: 2vh 0;

    background: var(--white);
    border-radius: 0 0 5px 5px;
    box-shadow:0 2px 5px rgb(0, 0, 0, 0.1);

    position: relative;
    right: 5vw;
    top: calc(1vh + 2px);
}

.dropdown-menu-item {
    display: block;
    padding: 1vh 0;
    width: 10vw;
    background-color: var(--white);
    text-align: center;
    line-height: 100%;
}

.dropdown-menu-item img {
    display: inline-block;
    max-height: 2.5vh;
    margin-right: 20px;
}